a.close {
  width: 1.4rem;
  height: 1.4rem;
  float:right;
  display:inline-block;
  background-image: url(../image/close.svg);
}
a.close span {
  display: none;
  font-size: 1.4rem;
}

#openc2x-grid{
	overflow: hidden;
	display:flex;
	flex-wrap: wrap;
}

#openc2x-grid fieldset:nth-child(odd) {
    margin-right: 0%;
}

#openc2x-grid fieldset:nth-child(even) {
    margin-left: 2rem;
    margin-right: 0%;
}

#openc2x-grid fieldset {
	flex: 1;
	min-width:45%;
	margin-right: 4%;
	
	-webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

#openc2x-grid fieldset .openc2x-content:hover {
	cursor: move;
}

#mapContainer{
	height:300px;
}

.openc2x-content  table tr:nth-of-type(even){
    background-color: #f9f9f9;
}

.openc2x-content  table tr:nth-of-type(odd){
    background-color: #fff;
}

.openc2x-content td > table > tbody > tr > td{
	border-top: 1px solid #ddd;
}

header{
	z-index: 10000;
}

#loggerInput {
	width:100%;
}
#loggerMessages{
	height: 250px;
	overflow-y: scroll;
}
